.body{
	background-image: url("./Assets/images/background.png");
	margin: 0px;
	padding: 0px;
    width:100%;
}

.header{
	background: white;
    width: 100%;
    margin: 0px;
    padding: 15px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: thin;
    border-bottom-color: #dedada;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
}

#name{
    background-color: #109e9e;
    color: white;
    text-align: center;
    margin-top: auto;
    margin-right: 580px;
    margin-bottom: inherit;
    margin-left: 100px;
    display: inline;
    padding: inherit;
}

#tab1{
    display: inline;
	size: 12px;
	color: gray;
	font-family: sans-serif;
	border-style: none;
    border-top: none;
    border-bottom-color: none;
    border-left: none;
    border-right: none;
}

#tab2{
    display: inline;
    size: 12px;
    color: gray;
    font-family: sans-serif;
    border-style: none;
    border-top: none;
    border-bottom-color: none;
    border-left: none;
    border-right: none;
}

#tab3{
    display: inline;
    size: 12px;
    color: gray;
    font-family: sans-serif;
    border-style: none;
    border-top: none;
    border-bottom-color: none;
    border-left: none;
    border-right: none;
}

a:link {
	color: gray;
    text-decoration: none;
}

a:visited {
	color: gray;
    text-decoration: none;
}

a:hover {
	color: gray;
    text-decoration: none;
}


a:active {
	color: gray;
    text-decoration: none;
}

.head3{
	position: absolute;
    z-index: 3;
    color: #109e9e;
    display: inline-flex;
    width: 600px;
    margin-left: 140px;
    margin-right: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #dedada;
    border-width: medium;
    border-top: none;
    border-right: none;
    border-left: none;
}

#proPic{
	float: left;
    position: absolute;
    z-index: 2;
    margin-left: 140px;
    margin-right: 0px;
    margin-top: 180px;
    margin-bottom: 0px;
}

.portfolio{
    position: static;
    background: white;
    height: 600px;
    margin-top: 40px;
    margin-right: 500px;
    margin-bottom: 0px;
    margin-left: 115px;
    padding-top: 150px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 225px;
    border-style: solid;
    border-color: #dedada;
    border-width: thin;
    
}

#flag1{
    z-index: 3;
    margin-left: -100px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#flag2{
    z-index: 3;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 00px;
    margin-bottom: 750px;
}

#flag3{
    z-index: 3;
    margin-left: -252px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 500px;
}

#flag4{
    z-index: 4;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 500px;
}

.head2{
    color: #109e9e;
    width: 200px;
    height: 140px;
    text-align: center;
    margin-top: 35px;
    background: white;
    float: right;
    margin-left: 600px;
    margin-right: 200px;
    border-style: solid;
    border-width: thin;
    border-color: #dedada;
}

.head2p{
    color: #109e9e;
    width: 200px;
    height: 140px;
    text-align: center;
    background: white;
    float: right;
    margin-top: -760px;
    margin-left: 600px;
    margin-right: 200px;
    border-style: solid;
    border-width: thin;
    border-color: #dedada;
}

.connect{
	display: inline-flex;
	background: white;
}

.words{
	position: static;
    color: gray;
    background: white;
    font-family: sans-serif;
    margin-top: 20px;
    margin-right: 500px;
    margin-bottom: 0px;
    margin-left: 115px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 250px;
    border-style: solid;
    border-color: #dedada;
    border-width: thin;

}

.form{
    position: static;
    color: gray;
    background: white;
    font-family: sans-serif;
    margin-top: 20px;
    margin-right: 500px;
    margin-bottom: 0px;
    margin-left: 115px;
    padding-top: 125px;
    padding-right: 200px;
    padding-bottom: 30px;
    padding-left: 40px;
    border-style: solid;
    border-color: #dedada;
    border-width: thin;
}

.footer{
	background: gray;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 22px;
    margin: 0px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: #e8e8e8;
    border-style: solid;
    border-width: thick;
    border-top-color: #109e9e;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.contant{
    width:640px;
    margin:0,auto;
}